<section id="page-header" class="section text-center">	
	<div class="container">
		<h1>UI Report</h1>		
		<p>O portal colaborativo para inspeção heurística de interfaces.</p>		
	</div>	
</section>

<section id="about" class="section text-center">
	<div class="container">
		<h1>O que é?</h1>

		<p>O UI Report é um portal colaborativo para inspeção heurística de interfaces.</p>
		<p>Cadastre-se e compartilhe projetos de interface com outros profissionais. Avalie projetos com base em heurísticas apropriadas e ajude a melhorar a usabilidade de sistemas digitais.</p>
		<p>Não perca mais tempo distribuindo formulários de papel! Convide avaliadores para seu projeto e ai é só gerar formulários amigáveis e que vão ao ponto do seu problema.</p>
		<p>Veja o tutorial e saiba mais como funciona.</p>
		<%= link_to "Ver tutorial", page_tutorial_path, :class => "btn btn-default btn-lg" %>
	</div>	
</section>